{{ CX }}단계 중 '{{ 누적_가장높은_추천_품질요소명 }}'의 추천 비율은 {{ 누적_가장높은_추천_품질요소점수 }}로 품질요소 중 가장 높았으며, '{{ 누적_가장낮은_추천_품질요소명 }}' 추천 비율은 {{ 누적_가장낮은_추천_품질요소점수 }}로 품질요소중 가장 낮음
{detailContents}
- '{{ 누적_가장높은_추천_품질요소명 }}' 추천비율 점수는 {{ 전월대비_상승한_품질요소_상승폭 }} {{ 상승폭_상승_하락 }} 
- '{{ 누적_가장낮은_추천_품질요소명 }}' 추천비율 점수는 {{ 전월대비_하락한_품질요소_하락폭 }} {{ 하락폭_상승_하락 }}