{{ 채널명 }} 조사결과 중 응답률 1위인 구체적 고객경험은 {{ 누적_서비스_품질요소_응답률_1위_CX }} 단계의 '{{ 누적_서비스_품질요소_응답률_1위 }}'으로 나타남
{detailContents}
- {{ 누적_부정_1위_서비스품질요소_CX }} 단계의 '{{ 누적_부정_1위_서비스품질요소 }}'의 경우 부정적인 고객경험 비중이 높아 개선이 요구됨
- {{ 누적_긍정_1위_서비스품질요소_CX }} 단계의 '{{ 누적_긍정_1위_서비스품질요소 }}'의 경우 긍정적인 고객경험 비중이 높게 나타남