{{ YY }}.{{ MM }}월 기준 {{ 채널명 }} NPS는 {{ 누적_채널_NPS }}이며, {{ 전월_대비_차이 }} {{ 상승_하락 }}
{detailContents}
- 추천고객 비율은 {{ 누적_추천비율 }}%로 {{ 전월_추천비율_차이 }} {{ 추천_상승_하락 }}, 비추천고객 비율은 {{ 누적_비추천비율 }}%로 {{ 전월_비추천비율_차이 }} {{ 비추천_상승_하락 }}.
- '{{ 영향도_1위_영향요인 }}' 단계가 {{ 영향도_1위_값 }}로 주요 긍정 요인으로 나타났으나, '{{ 영향도_꼴찌_영향요인 }}' 단계가 {{ 영향도_꼴찌_값 }}로 부정 요인으로 나타남.


