{{ 고객경험단계구분 }} 단계의 고객감정지수(NSS)는 {{ KB_NSS }}이며, 벤치마크사인 {{ 벤치마크사 }} 대비 {{ NSS점수_차이 }} {{ NSS_플래그 }}, 부정비중은 {{ 부정비중_차이 }} {{ 부정비중_플래그 }}

{{ 고객경험단계구분 }} 단계의 고객불만지수(CCI)는 {{ KB_CCS }}이며, 벤치마크사인 {{ 벤치마크사 }} 대비 {{ CCS점수_차이 }} {{ CCS_플래그 }}, 개선비중은 {{ 개선비중_차이 }} {{ 개선비중_플래그 }}