KB국민은행 {{ CX }} {{ 누적_NPS점수 }}로, {{ YYYYMM }}월 중 누적 NPS점수는 전월 누적 대비 {{ 전월_대비_차이 }} {{ 상승_하락 }}
{detailContents}
- 추천고객 비율 {{ 누적_추천비율 }}%, 비추천 고객 비율 {{ 누적_비추천비율 }}%로, 전월 누적 대비 추천 및 비추천 고객 비율이 각각 {{ 전월_대비_추천비율_차이 }}%p {{ 추천_상승_하락 }}, {{ 전월_대비_비추천비율_차이 }}%p {{ 비추천_상승_하락 }}
- '{{ 누적_서비스품질요소_1위_긍정요소명 }}'의 NPS 영향도는 {{ 누적_서비스품질요소_1위_긍정요소NPS점수 }}점으로 주요 긍정 요인이며, '{{ 누적_가장_낮은_NPS영향도_서비스품질요소명 }}'이 {{ 누적_가장_낮은_NPS영향도_서비스품질요소_NPS점수 }}점으로 가장 낮은 NPS 영향도를 보임