{{ YY }}.{{ MM }}월 누적 기준 {{ 채널명 }} NPS는 {{ 누적_채널_NPS }}이며, 전월누적 대비 {{ 전월_대비_차이 }} {{ 상승_하락 }}
{detailContents}
- 고객경험단계 중 '{{ NPS_점수_1위_CX명 }}'가 {{ NPS_점수_1위_CX_NPS }}로 가장 높으며, '{{ NPS_점수_최저_CX명 }}'가 {{ NPS_점수_최저_CX_NPS }}로 가장 낮음