KB국민은행 {{ 채널명 }} NPS는 {{ NPS }}이며 {{ 순위 }}위로 나타남.
{detailContents}
- 벤치마크사인 {{ 벤치마크사명 }} 대비 {{ 벤치마크사_NPS_차이 | float | abs }} {{ 벤치마크사_NPS_플래그 }}, 시장평균 대비 {{ 시장평균_NPS_차이 | float | abs }} {{ 시장평균_NPS_플래그 }}.
- 비추천 비중은 {{ 비추천비중 }}%이며 {{ 벤치마크사명 }} 대비 {{ 벤치마크사_비추천비중_차이 | float | abs }}%p {{ 비추천비중_플래그 }}.