KB국민은행 {{ CX }} NPS는 {{ CX_NPS }}로 전체 {{ 순위 }}위이며, {{ 직상위기관 }}인 {{ 직상위기관명 }}보다 {{ 직상위기관_NPS_차이 | float | abs }} {{ 직상위기관_NPS_플래그 }} 시장평균 대비 {{ 시장평균_NPS_차이 | float | abs }} {{ 시장평균_NPS_플래그 }}
{detailContents}
- 비추천비중은 {{ 비추천비중 }}%로 최상위기관인 {{ 최상위기관명 }} {% if 최상위기관_비추천비중_차이 %}{{ 최상위기관_비추천비중_차이 }} {% else %}{% endif %}{% if 최상위기관_비추천비중_플래그 %}{{ 최상위기관_비추천비중_플래그 }} {% else %}{% endif %}{{ 직상위기관명 }} 대비 {{ 직상위기관_비추천비중_차이 | float | abs }}%p {{ 직상위기관_비추천비중_플래그 }}.